@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./reset";
@import "./ui";
@import "./pages/";

.receipt {
    background: rgba(248, 248, 248, 1);
}

.search {
    &__switch {
        &_item {
            opacity: 0.5;

            &.active {
                text-decoration: underline  ;
                opacity: 1;
            }
        }
    }
}
